<div id="wrap">
    <div id="topLine">
  <div class="inner"></div>
</div>
<div id="header">
  <div class="container">
    <div class="inner">
      <div class="logo">
      <a href="/" class=""><img
        src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/colibri-tool-logo-blue.png" alt="Growth Hacking Tools - Colibri"/>
      </a><br/>
      <a class="pull-left" style="margin-left:95px" href="/colibri/jobs"><i>yeah, we are hiring!</i></a>
      </div>
      <div class="btns">
        <a href="/colibri/features">FEATURES</a>        
        <a target="_blank" href="/demo">SEE DEMO</a>        
        <a href="/colibri/pricing">PLANS & PRICING</a>
        <a style="background: #3473a8" href="/user/login">LOG IN</a>
      </div>
    </div>
  </div>
</div>
    <div id="topfull"><div class="container"><div class="inner"></div></div></div>
    <div id="content"><div id="top">
  <div class="container">
    <div class="inner">
      <div class="clear"></div>
      <div class="h1-container">
        <div class="h1-wrap">
          <h1>Inject yourself in the right discussion</h1>
          <h2>suggest your product/solution/content and get more customers.</h2>
        </div>
      </div>
      <!--<div class="email-wrap">
    <div class="insights-form">
      <a href="/colibri/pricing" class="btn btn-large btn-warning">START GROWING!</a>
    </div>
    <br/><small style="color:#fff">Plans start at <u><a href="/colibri/pricing">$45 a month</a></u>, 14-day Free Trial on all accounts.</small>
</div>-->

<div class="email-wrap">
    <div class="insights-form">
      <a href="/colibri/pricing" class="btn btn-large btn-warning">GET STARTED →</a>
    </div>
    <br/><small style="color:#fff">Plans start at <u><a href="/colibri/pricing">$45 a month</a></u>, 14-day Free Trial on all accounts.</small>
</div>
    </div>
    <div class="app-outer">
      <img class="phone" alt="" src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/colibri-top.png" style="top: 1000px;">
    </div>
  </div>
</div>

<div class="visible-desktop hidden-phone visible-tablet"><div id="testimonials">
  <div class="container">
    <div class="inner">
      <h2>What people say</h2>
      <div class="lists">
        <div class="item">
          <div class="avatar">
            <img src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/portraits/robert-vidiq.png" alt="" / >
          </div>
          <div class="text">
            <p>“They are crushing it on simplifying SEO / Growth Hacking.”</p>
            <strong>Robert Sandie</strong><br />
            <span>CEO of <a target="_blank" href="http://vidiq.com/">vidIQ.com</a></span>
          </div>
        </div>
<!--
        <div class="item">
          <div class="avatar">
            <img src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/portraits/kamil-listonic.png" alt="" / >
          </div>
          <div class="text">
            <p>“The most intuitive Customer Acquisition tool I know.”</p>
            <strong>Kamil Janiszewski</strong><br />
            <span>CEO of Listonic</span>
          </div>
        </div>
-->
        <div class="item">
          <div class="avatar">
            <img src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/portraits/david-blokesbags.jpg" alt="" / >
          </div>
          <div class="text">
            <p>“Colibri lets me know when things need urgent attention.”</p>
            <strong>David Gledhill</strong><br />
            <span>CEO of Blokesbags.co.uk</span>
          </div>
        </div>
        <div class="item">
          <div class="avatar">
            <img src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/portraits/bartek-merlin.png" alt="" / >
          </div>
          <div class="text">
            <p>“Perfect to improve Social Media and SEO at the same time.”</p>
            <strong>Bartosz Szczesniak</strong><br />
            <span>Traffic Director at Merlin.pl</span>
          </div>
        </div>
        <div class="item">
          <div class="avatar">
            <img src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/portraits/hugo-biofib.png" alt="" / >
          </div>
          <div class="text">
            <p>“Great business value for money. We use it since a year.”</p>
            <strong>Hugo Jousseaume</strong><br />
            <span>Director of Communications - Biofib France</span>
          </div>
        </div>
      </div>

  </div>
</div>
</div></div>

<div id="features" class="visible-desktop hidden-phone visible-tablet">
  <div class="container homepage">
    <div class="inner">
      <h1 id="features-h1" class="text-center" style="margin-bottom:40px">Colibri helps getting more Customers</h1>
      <div class="item">
        <div class="fr">
          <h3><strong>Tell us on what phrases your Customers</strong><br/>search for when looking for your solutions.</h3>
        </div>
        <div class="img">
          <span class="glyphicons glyphicon-xlarge search"><i></i></span>
        </div>
      </div>

      <div class="item">
        <div class="fr">
          <h3><strong>We will tell where your Customers are</strong> <br/>on Google, Bing, Yandex, Quora, Twitter, Pinterest, Facebook and 3rd party blogs.</h3>
        </div>
        <div class="img">
          <span class="glyphicons glyphicon-xlarge group"><i></i></span>
        </div>
      </div>
<!--
      <div class="item">
        <div class="fr">
          <h3><strong>We will deliver crafted Growth Ideas</strong><br/>on how to increase highly targeted traffic.</h3>
        </div>
        <div class="img">
          <span class="glyphicons glyphicon-xlarge magic"><i></i></span>
        </div>
      </div>
      <div class="item">
        <div class="fr">
          <h3><strong>Finally, we will provide you with</strong><br/>a simple, yet Advanced Monitoring platform for SEO and Social Media with daily notifications.</h3>
        </div>
        <div class="img">
          <span class="glyphicons glyphicon-xlarge dashboard"><i></i></span>
        </div>
      </div>

-->
      <div class="item">
        <div class="fr">
          <h3><strong>So you can inject in the right discussion</strong><br/>and attract best potential Customers everyday, while improving SEO at the same time.</h3>
        </div>
        <div class="img">
          <span class="glyphicons glyphicon-xlarge comments"><i></i></span>
        </div>
      </div>
<!-- 
      <div style="text-align:center;margin-bottom:60px;">
        <a href="/colibri/features" class="btn btn-large btn-success">See what else can you do</a>
      </div>
 -->
 
    </div>
  </div>
</div>

<div class="cta">
  <div class="container">
    <div class="inner">
      <div class="row-fluid">
      <a href="http://seo-software.findthebest.com/l/40/ColibriTool-com" target="_blank">
        <div class="span4">
          <div class="rating text-large text-faded read-only">
                    <span class="star active"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
          </div>
          <p>"Great tool, excellent support, it helped me a lot!"</p>
          <h3>- FindTheBest!</h3>
        </div>
      </a>
        <a href="http://smallbusiness.yahoo.com/advisor/colibri-tool-review-measure-trends-analyze-conversions-223529143.html" target="_blank">      
        <div class="span4">
          <div class="rating text-large text-faded read-only">
                    <span class="star active"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
          </div>
          <p>"A miracle tool for improving traffic and conversions!"</p>
          <h3>- Yahoo!</h3>
        </div>
        </a>
        <a href="http://www.getapp.com/reviews/listing/colibri-seo-and-inbound-marketing-tools-application" target="_blank">
        <div class="span4">
          <div class="rating text-large text-faded read-only">
                    <span class="star active"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
          </div>
          <p>"Impacts almost every marketer out there!"</p>
          <h3>- GetApp.com</h3>
        </div>        
      </div>
      </a>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div id="sign">
  <div class="container">
    <div class="inner">
      <h2>See how Colibri works for</h2>
      <div class="span12 row-fluid">
        <div class="span4">
          <div class=""><a href="/colibri/for-startups"><img src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/entrepreneur.jpg"/></a></div>
          <h3><a href="/colibri/for-startups">Startups</a></h3>
        </div>
        <div class="span4">
          <div class=""><a href="/colibri/for-ecommerce"><img src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/ecommerce.jpg"/></a></div>
          <h3><a href="/colibri/for-ecommerce">E-commerce</a></h3>
        </div>
        <div class="span4">
          <div class=""><a href="/colibri/for-agencies"><img src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/seoagency.jpg"/></a></div>
          <h3><a href="/colibri/for-agencies">SEO & Interactive Agencies</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="visible-desktop hidden-phone visible-tablet"><div class="cta">
  <div class="container">
    <div class="inner">
      <h3 style="color: #fff">
      Don't wait, Try Colibri for free <a style="margin-left:20px" class="btn btn-primary btn-large" href="/colibri/pricing">Start now →</a></h3>
    </div>
  </div>
</div></div>
<div id="customers">
  <div class="container">
    <div class="inner pagination-centered">
      <h2 class="visible-desktop hidden-phone visible-tablet">Join Thousands of Happy Customers</h2>
      <h3 class="visible-phone hidden-desktop hidden-table">Trusted by</h3>
      <p class="visible-desktop hidden-phone visible-tablet">Whether you run SAAS, Ecommerce, a software house, an online business or work as a SEO expert, <br/>Colibri is trusted by small and large businesses alike.</p>
      <div class="email2-wrap">
        <img style="margin-bottom:60px;" src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/imgs/new_companies.png"/>
      </div>
    </div>
  </div>
</div>

<div class="hidden-desktop visible-phone hidden-tablet"><div class="cta">
  <div class="container">
    <div class="inner">
      <h3 style="color: #fff">
      Don't wait, Try Colibri for free <a style="margin-left:20px" class="btn btn-primary btn-large" href="/colibri/pricing">Start now →</a></h3>
    </div>
  </div>
</div></div></div>
   
    <div class="visible-desktop hidden-phone visible-tablet" id="contact">
  <div class="container">
    <div class="inner">
      <div class="row-fluid">
        <div class="span3">
          <ul class="unstyled">
            <li class="head">PRODUCT</li>
            <li><a href="/colibri/features">Features</a></li>
            <li><a href="/colibri/for-startups">For Startups</a></li>
            <li><a href="/colibri/for-ecommerce">For Ecommerce</a></li>
            <li><a href="/colibri/for-agencies">For Agencies</a></li>
            <li><a href="/colibri/pricing">Plans and Pricing</a></li>
          </ul>
        </div>
        <div class="span3">
          <ul class="unstyled">
            <li class="head">ABOUT US</li>
            <li><a href="/colibri/our-team">Our Team</a></li>
            <li><a href="http://blog.colibri.io" target="_blank">What's new?</a></li>
            <li><a href="http://growthhacker.am" target="_blank">Growth Hacking Academy</a></li>
            <li><a href="/colibri/jobs">Join the Team</a></li>              
          </ul>
        </div>
        <div class="span3">
          <ul class="unstyled">
            <li class="head">SUPPORT</li>
            <li><a href="/user/password">Forgotten Password</a></li>
            <li><a href="mailto:hello@colibritool.com">Email Us</a></li>
            <li><a href="/colibri/faq">FAQ</a></li> 
            <li><a href="/colibri/tos">Terms of Use</a></li>              
          </ul>
        </div>
        <div class="span3">
          <ul class="unstyled">
            <li class="head">COMMUNITY</li>
            <li><a href="https://twitter.com/colibritool" target="_blank">Twitter</a></li>
            <li><a href="https://www.facebook.com/ColibriTool" target="_blank">Facebook</a></li>
            <li><a href="https://plus.google.com/+ColibriTool" target="_blank">Google+</a></li>
          </ul>
        </div>
      </div>
    </div>      
  </div>
</div>

<div id="anonymous-footer" class="visible-desktop hidden-phone visible-tablet">
  <div class="container">
    <div class="inner">
      <div class="row-fluid">
        <p class="pt10 span9">
          Colibri - <a href="/">growth hacking tools</a> made easy. Read more about our <a href="/colibri/seo-tools">seo tools</a>, <a href="/colibri/traffic-estimator">traffic estimator</a>, <a href="/colibri/backlinks-checker">backlinks checker</a>, <a href="/colibri/google-position-checker">google position checker</a> and other <a href="/colibri/internet-marketing-tools">internet marketing tools</a>, <a href="/colibri/social-media-monitoring-tools">social media monitoring tools</a> or browse all <a href="/colibri/features">features</a>. Made with love in San Francisco, CA and Warsaw, PL.
        </p>
        <div class="media span3">
          <a href="mailto:hello@colibritool.com" target="_blank" class="ml"><span>Mail</span></a>
          <a href="https://twitter.com/colibritool" target="_blank" class="tw"><span>Twitter</span></a>
          <a href="http://www.facebook.com/ColibriTool" target="_blank" class="fb"><span>Facebook</span></a>
        </div>
      </div>
      <div class="row-flud">
        <div class="">
            <a target="_blank" href="http://www.madeinwarsaw.net"><img src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/imgs/miw_white_72.png" alt="Made in Warsaw, Poland" /></a>
            <img src="//d80tpqbkshe4l.cloudfront.net/sites/colibri.io/themes/colibri/images/colibri/made-in-san-francisco.jpg"/>
            <a target="_blank" href="http://mixpanel.com/f/partner"><img src="https://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Real Time Web Analytics" /></a>

          </div>
        
      </div>
    </div>
  </div>
</div>    
  </div>
